%tr
  %td= user.email
  %td= user.full_name
  %td= user.job_role
  %td= user.institution
  %td.text-center
    = render partial: "enum", locals: { label: "Read only", action: set_user_role_path(user_id: user.id, role: "unauthorized"), selected: user.unauthorized? }
    \|
    = render partial: "enum", locals: { label: "Read and write", action: set_user_role_path(user_id: user.id, role: "authorized"), selected: user.authorized? }
    \|
    = render partial: "enum", locals: { label: "Administrator", action: set_user_role_path(user_id: user.id, role: "admin"), selected: user.admin? }
