.row
  .col-md-8.col-md-offset-2
    - if @upload.errors.any?
      = render partial: "shared/form_errors", locals: { errors: @upload.errors }
    %h1
      Upload research

    = form_for(@upload, html: { id: "upload", class: "form-horizontal" }) do |form|
      = transloadit :save_pdf_to_s3

      .form-group{ class: (@upload.errors[:title].present? ? "has-error has-feedback" : "") }
        = form.label :title, "Title", class: "col-sm-2 control-label"
        .col-sm-10
          = form.text_field :title, class: "form-control", placeholder: "Title..."
          - if @upload.errors[:title].present?
            %span.glyphicon.glyphicon-remove.form-control-feedback

      .form-group{ class: (@upload.errors[:s3_url].present? ? "has-error has-feedback" : "") }
        = form.label :file, "File to upload", class: "col-sm-2 control-label"
        .col-sm-10
          = form.file_field :file
          %p.help-block Please select a document on your computer to upload to the website.

      .form-group{ class: (@upload.errors[:category].present? ? "has-error has-feedback" : "") }
        = form.label :category, "Type of file", class: "col-sm-2 control-label"
        .col-sm-10
          = form.select :category, options_for_select(Upload::CATEGORIES), { include_blank: true }, { class: "form-control" }

      .form-group
        .col-sm-10.col-sm-offset-2
          = form.submit "Upload", id: "upload_form_button", class: "btn btn-success"

    = transloadit_jquerify :upload, wait: true
